<div
  class="d-flex justify-content-center vh-100"
>
  <div class="row w-100 justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 auth-bg px-4 h-100 d-flex">
      <img src="assets/auth/outdoor.svg" alt="" class="img-fluid" />
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="px-5">
        <h3 class="mb-5">Add your Information to Register</h3>
        <form action="">
          <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">First Name<sup>*</sup></label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">Last Name<sup>*</sup></label>
                    <input type="text" class="form-control">
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">E-mail Address<sup>*</sup></label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">Username</label>
                    <input type="text" class="form-control">
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">Password<sup>*</sup></label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="" class="text-sm text-muted">Confirm Password<sup>*</sup></label>
                    <input type="password" class="form-control">
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  I accept the Terms &amp; Condition
                </label>
              </div>
            </div>
            <div class="col clearfix"><button type="submit" class="btn btn-blue float-right px-4">Register</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
