.career {
  background: rgba(163, 57, 255, 0.16);
  border-radius: 3%;
}

.badge-secondary {
  color: #6e6f8b !important;
  background-color: rgba(110, 111, 139, 0.2);
}

.how-it-works {
  background: linear-gradient(
    180deg,
    rgba(186, 198, 242, 0.18) 0.01%,
    #ffffff 0.02%,
    rgba(172, 223, 251, 0.4) 97.4%
  );
}

.bg-secondary {
  background-color: #f1f3f6 !important;
}

.find-course {
  background-color: rgba(255, 208, 55, 0.51);
}

.find-course div img {
  opacity: 0.5;
}

.btn-white {
  border-radius: 8px;
}
