<div class="container p-5 min-vh-100">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6">
      <h3>WOULD YOU LIKE TO LEARN TO CODE FOR FREE?</h3>
      <p>
        Inspire coders offers the best on hands practice in the world of
        programming. The training is for complete beginners who want to learn
        the basics of software development.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 px-3">
      <img class="img-fluid" src="assets/home/coding.svg" alt="" />
    </div>
  </div>
</div>

<div class="container px-5 py-4 career mb-5">
  <h4 class="text-center">Launch your career into the orbit</h4>
  <p class="text-center my-4">
    Get started with a career in front end web development by learning the
    basics of the HTML5, CSS3 and JavaSrcipt. Master the languages of the web.
    This path will prepare you to build basic websites and then build
    interactive web apps.
  </p>
  <img src="assets/home/static_assets.svg" alt="" class="img-fluid mx-auto" />
</div>

<div class="container">
  <h4 class="text-center">Forums</h4>
  <p class="text-center my-4">
    Forums are where online classes happen, courses can only be accessed after
    joining a forum.
  </p>
  <div class="row mb-3">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="d-flex">
        <img src="assets/home/folder.svg" alt="" class="img-fluid" />
        <div class="p-4">
          <h5>Website Design</h5>
          <p>
            Learn everything you need to know about website design from UI
            designs in sketch ad figma to actual code using HTML5, CSS3 and
            JAVASCRIPT.
          </p>
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >Figma</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >Sketch</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >HTML</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >CSS</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 font-weight-bold"
            >Javascript</span
          >
        </div>
      </div>
      <div class="d-flex mt-4 justify-content-between align-items-center">
        <div class="d-flex w-25">
          <div>
            <img
              src="assets/general/user.png"
              alt=""
              class="img-fluid user-img"
            />
          </div>
          <div class="px-2">
            <span>Patricia Onyelami</span>
            <span class="d-block text-success">
              <fa-icon
                [icon]="faStar"
                [styles]="{ color: '#04EDCC', stroke: '#04EDCC' }"
              ></fa-icon>
              4.3
            </span>
          </div>
        </div>

        <div class="text-muted text-sm w-50">
          <span class="d-block mb-2">
            <fa-icon [icon]="faVideo"></fa-icon> Forum begins in 2 days
          </span>
          <span class="d-block">3 slots left</span>
          <span class="d-block"
            ><ngb-progressbar type="success" [value]="85"></ngb-progressbar
          ></span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="d-flex">
        <img src="assets/home/folder.svg" alt="" class="img-fluid" />
        <div class="p-4">
          <h5>Website Design</h5>
          <p>
            Learn everything you need to know about website design from UI
            designs in sketch ad figma to actual code using HTML5, CSS3 and
            JAVASCRIPT.
          </p>
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >Figma</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >Sketch</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >HTML</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 mr-2 font-weight-bold"
            >CSS</span
          >
          <span
            class="badge badge-pill badge-secondary py-2 px-2 font-weight-bold"
            >Javascript</span
          >
        </div>
      </div>
      <div class="d-flex mt-4 justify-content-between align-items-center">
        <div class="d-flex w-25">
          <div>
            <img
              src="assets/general/user.png"
              alt=""
              class="img-fluid user-img"
            />
          </div>
          <div class="px-2">
            <span>Patricia Onyelami</span>
            <span class="d-block text-success">
              <fa-icon
                [icon]="faStar"
                [styles]="{ color: '#04EDCC', stroke: '#04EDCC' }"
              ></fa-icon>
              4.3
            </span>
          </div>
        </div>

        <div class="text-muted text-sm w-50">
          <span class="d-block mb-2">
            <fa-icon [icon]="faVideo"></fa-icon> Forum begins in 2 days
          </span>
          <span class="d-block">3 slots left</span>
          <span class="d-block"
            ><ngb-progressbar type="success" [value]="85"></ngb-progressbar
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container how-it-works py-5 px-4 mb-5">
  <h4 class="text-center mb-4">HOW IT WORKS</h4>
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 mb-4">
      <img src="assets/home/study_online.svg" alt="" class="img-fluid" />
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="bg-white py-4 px-2 text-center rounded-lg">
        <h5>STUDY FROM THE COMFORT OF YOUR HOME</h5>
        <p>
          Inspire Coder equips you with tons of resources ranging from books,
          blog post, videos, e-books which can all be downloaded and can be
          accessed offline for times of low internet connection.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="py-4 px-2 text-center rounded-lg bg-secondary">
        <h5>ATTEMPT WEEKLY CHALLENGES</h5>
        <p>
          You learng by writting code, practice what you have learnt so far and
          attemp weekly challenges which would be given, solutions can be
          accessed on the dashboard and the best solution would be displayed on
          the leader board
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <img src="assets/home/work_at_home.svg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 mb-4">
      <img src="assets/home/web_design.svg" alt="" class="img-fluid" />
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <div class="bg-white py-4 px-2 text-center rounded-lg">
        <h5>ENJOY ONE ON ONE MENTORSHIP</h5>
        <p>
          Meet with mentors on the platform and other team mates for peer review
          session, codelabs, meetups tcs
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 px-4 mb-4 find-course mb-5">
  <h3 class="text-center">CAN’T FIND A COURSE</h3>
  <p class="text-center">
    Fill the form below with the course you would like to take and why you want
    the course added
  </p>
  <form action="" class="mx-auto w-75">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Full Name" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email Address" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea
          name=""
          id=""
          placeholder="Course Name and reason"
          rows="7"
          class="form-control mt-3"
        ></textarea>
      </div>
      <div class="col position-relative">
        <button
          type="submit"
          class="btn btn-white position-absolute right-0 bottom-0 px-5 text-uppercase"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <div class="w-75 mx-auto">
    <img src="assets/home/find.svg" class="img-fluid" alt="" />
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <ul class="list-unstyled">
        <li class="text-primary mb-3">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">Links</a>
        </li>
        <li class="text-primary mb-3">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">Home</a>
        </li>
        <li class="text-primary mb-3">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">About</a>
        </li>
        <li class="text-primary mb-3">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">How it works</a>
        </li>
        <li class="text-primary mb-3">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">Apply</a>
        </li>
        <li class="text-primary">
          <fa-icon [icon]="faShare" class="mr-3"></fa-icon>
          <a href="" class="text-decoration-none text-dark">Contact</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12">
      <h6>Contact Phone Numbers</h6>
      <h4>Customer Services:</h4>
      <span class="d-block mb-2">02035143971</span>
      <span class="d-block mb-2">0-24 h every day.</span>
      <span class="d-block mb-2"
        >Customised service: Local call. Nigerian time.</span
      >
    </div>

    <div class="col-md-6 col-sm-1">
      <div class="mx-auto w-75">
        <form action="">
          <input
            type="email"
            class="form-control mb-3 border-top-0 border-left-0 border-right-0"
            placeholder="Email Address"
          />
          <input
            type="text"
            class="form-control mb-3 border-top-0 border-left-0 border-right-0"
            placeholder="Subject"
          />
          <textarea
            rows="2"
            class="form-control mb-3 border-top-0 border-left-0 border-right-0"
            placeholder="Message"
          ></textarea>
          <button
            type="submit"
            class="btn btn-blue text-uppercase px-3 ml-auto"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
